body {
    font-family: Arial, sans-serif;
    background-color: #add8e6; /* Latar belakang biru muda */
    margin: 0;
    padding: 0;
}

.header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label, select, input, button, textarea {
    font-size: 16px;
    padding: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    resize: none;
    width: 100%;
    height: 50px;
}

#conversionInfo {
    margin-top: 20px;
}

#conversionInfo h2 {
    font-size: 18px;
    color: #333;
}

#conversionInfo p {
    font-size: 16px;
    color: #555;
}
